<header class="main-header clearfix">
  <h1 class="main-header__title">
    <i class="icon fa fa-money"></i>
    Product Bill History
  </h1>
  <ul class="main-header__breadcrumb" style="margin-top: 3px;">
    <li><span class="page-title-parent-level">User Settings</span></li>
    <li><span class="page-title-parent-level">Bill</span></li>
  </ul>
</header>

<div class="row">
  <div class="col-md-12">
    <article class="widget">
      <div class="widget__content">
        <header class="widget__header">
          <h3 class="widget__title">History</h3>
          <ul class="main-header__breadcrumb" style="float: right;">
            <li><a href="#" class="addColor">Back</a></li>
          </ul>
        </header>
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Invoice Number</th>
              <th>Amount</th>
              <th>Type</th>
              <th>Status</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>December 20, 2015</td>
              <td>456564$</td>
              <td>$10.00</td>
              <td>Standart Invoice</td>
              <td>Paid</td>
              <td>
                <button type="button" class="btn btn-light btn-sm" style="float:right">View</button>
              </td>
            </tr>
            <tr>
              <td>December 20, 2015</td>
              <td>456564$</td>
              <td>$10.00</td>
              <td>Standart Invoice</td>
              <td>Paid</td>
              <td>
                <button type="button" class="btn btn-light btn-sm" style="float:right">View</button>
              </td>
            </tr>
            <tr>
              <td>December 20, 2015</td>
              <td>456564$</td>
              <td>$10.00</td>
              <td>Standart Invoice</td>
              <td>Paid</td>
              <td>
                <button type="button" class="btn btn-light btn-sm" style="float:right">View</button>
              </td>
            </tr>
            <tr>
              <td>December 20, 2015</td>
              <td>456564$</td>
              <td>$10.00</td>
              <td>Standart Invoice</td>
              <td>Paid</td>
              <td>
                <button type="button" class="btn btn-light btn-sm" style="float:right">View</button>
              </td>
            </tr>
            <tr>
              <td>December 20, 2015</td>
              <td>456564$</td>
              <td>$10.00</td>
              <td>Standart Invoice</td>
              <td>Paid</td>
              <td>
                <button type="button" class="btn btn-light btn-sm" style="float:right">View</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </article>
  </div>
</div>
