<header class="main-header clearfix">
  <h1 class="main-header__title">
    <i class="icon pe-7s-home"></i>
    Dashboard <small>Overview</small>
  </h1>
</header>

<div class="main-stats row">
  <div class="main-stats__stat col-lg-3 col-md-12 col-sm-12" style="margin-left: 41px;">
    <h3 class="stat__title">Devices</h3>
    <div class="stat__number"><span>Auluxa </span>20</div>
    <div class="stat__number"><span>Thrid Party </span>10</div>
  </div>
  <!-- /col -->

  <div class="main-stats__stat col-lg-3 col-lg-offset-1 col-md-12 col-sm-12">
    <h3 class="stat__title">Users</h3>
    <div class="stat__number"><span>Admin </span>1</div>
    <div class="stat__number"><span>End User </span>5</div>
  </div>
  <!-- /col -->

  <div class="main-stats__stat col-lg-3 col-lg-offset-1 col-md-12 col-sm-12">
    <h3 class="stat__title">Bill</h3>
    <div class="stat__number"><span>Status </span>Paid</div>
    <div class="stat__number"><span>On </span>01-Mar-2016</div>
  </div>
  <!-- /col -->
</div>
<!-- row -->

<div class="main-stats row">
  <div class="main-stats__stat col-lg-3 col-lg-offset-2 col-md-12 col-sm-12" style="margin-left: 201px;">
    <h3 class="stat__title">Wireless</h3>
    <div class="stat__number"><span>Status </span>Good</div>
  </div>
  <!-- /col -->

  <div class="main-stats__stat col-lg-3 col-lg-offset-1 col-md-12 col-sm-12">
    <h3 class="stat__title">Language</h3>
    <div class="stat__number"><span></span>English</div>
  </div>
  <!-- /col -->
</div>
<!-- row -->