<aside class="sidebar">
  <ul class="main-nav">
    <li class="main-nav--active">
      <a class="main-nav__link" style="display: flex;" href="#">
        <span class="main-nav__icon" style="display: list-item;"><i class="icon pe-7s-home"></i></span> Dashboard
      </a>
    </li>
    <li>
      <a class="main-nav__link" style="display: flex;" href="ui.html">
        <span class="main-nav__icon" style="display: list-item;"><i class="icon pe-7s-edit"></i></span> Kranium
      </a>
    </li>
    <li>
      <a class="main-nav__link" style="display: flex;" href="#">
        <span class="main-nav__icon" style="display: list-item;"><i class="icon pe-7s-photo-gallery"></i></span> Device List
      </a>
    </li>
    <li>
      <a class="main-nav__link" style="display: flex;" href="grid.html">
        <span class="main-nav__icon" style="display: list-item;"><i class="icon pe-7s-crop"></i></span> Add Device
      </a>
    </li>
    <li>
      <a class="main-nav__link" style="display: flex;" href="tables.html">
        <span class="main-nav__icon" style="display: list-item;"><i class="icon pe-7s-menu"></i></span> User Settings
      </a>
    </li>
  </ul>
</aside>