<div class="wrapper login-page">

    <div class="row mtop-100">
        <div class="col-md-6 col-md-offset-3 clearfix bg--dark">

            <div class="main-logo">
                Auluxa <span>Page not fount</span>
            </div>
            <div class="clearfix"></div>
            <div style="text-align: center">
                @Html.ActionLink("Go to the Home Page", "Index", "Home")
            </div>
        </div>
    </div>
</div>
