<header class="main-header clearfix">
    <h1 class="main-header__title">
        <i class="icon fa fa-user"></i>
        Users
    </h1>
</header>

<div class="row">
    <div class="col-md-12">
        <article class="widget">
            <div class="widget__content">
                <header class="widget__header">
                    <h3 class="widget__title">History</h3>
                </header>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Type</th>
                            <th style="text-align: center;">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="u in users">
                            <td>{{u.email}}</td>
                            <td >
                                <span>{{u.role}}</span>
                            </td>
                            <td style="text-align: center;">
                                <a ng-show="u.role != 'Admin' && currentUser != u.email" ng-click="u.isToEdit = !u.isToEdit" href="" class="addColor">Edit</a>

                                <a ng-show="u.isToEdit" ng-click="u.isToEdit = !u.isToEdit" href="" class="addColor">Cancel</a>
                                <!--<a ng-show="u.isToEdit" href="" class="addColor " style="margin-left: 15px;color: #55c69e!important">Save</a>-->
                                <a ng-show="u.isToEdit" ng-click="$parent.deleteUser(u)" href="" class="addColor" style="margin-left: 15px;color: #f35958!important">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <article class="widget">
            <header class="widget__header">
                <h3 class="widget__title">Add new user</h3>
            </header>

            <div class="widget__content">
                <dl class="dl-horizontal dl-input-spacing">
                    <dt>
                        <span style="color: #9a9a9a; font-size: 14px; line-height: 22px;">Email:</span>
                    </dt>
                    <dd>
                        <p>
                            <input ng-change="emailChange()" ng-model="email" required type="email" style="line-height: 19px; width: 300px;" placeholder="email">
                        </p>
                    </dd>
                </dl>
                <dl class="dl-horizontal dl-input-spacing">
                    <dt>
                        <span style="color: #9a9a9a; font-size: 14px; line-height: 22px;">Type:</span>
                    </dt>
                    <dd>
                        <p>
                            <select ng-model="role" name="cars" style="border-color: silver; width: 300px;">
                                <option value="Admin" selected>Admin</option>
                                <option value="Normal">Normal</option>
                            </select>
                        </p>
                    </dd>
                </dl>


                <dl class="dl-horizontal dl-input-spacing">
                    <dt></dt>
                    <dd>
                        <button ng-click="saveUser()" disabled ng-show="!enableSave" class="btn btn-light" style="margin-left: 0;">Save</button>
                        <button ng-click="saveUser()" ng-show="enableSave" class="btn btn-green" style="margin-left: 0;">Save</button>
                        <p ng-show="showNewUserMessage">User has been saved.</p>
                    </dd>
                </dl>
            </div>
        </article>
    </div>
</div>