<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title> My ASP.NET Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--template CSS-->
    <link href="/Content/template/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/template/css/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/template/jquery-jvectormap-1.2.2/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <link href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
    <!--added manually-->
    <link href="/Content/css/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/template-helper.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/template.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/styles.css" rel="stylesheet" type="text/css" />
    <!-- --template scripts -->
    <script src="/Content/template/js/jquery-1.11.3.min.js"></script>
    <script src="/Content/template/js/jquery-ui.js"></script>
    <script src="/Content/template/js/bootstrap.min.js"></script>
    <script src="/Content/template/js/map.js"></script>
    <script src="/Content/template/jquery-jvectormap-1.2.2/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/Content/template/jquery-jvectormap-1.2.2/jquery-jvectormap-us-aea-en.js"></script>
    <script src="/Content/template/js/main_auluxa.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
