<div class="wrapper login-page">
    <div class="row mtop-100">
        <div class="col-md-6 col-md-offset-3 clearfix bg--dark">
            <div class="main-logo">
                Auluxa
                <p>Your email has been confirmed. @Html.ActionLink("Return to the home page.", "Index", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
            </div>
        </div>
    </div>
</div>
