@using Auluxa.WebApp.Controllers
@model  ForgotPasswordModel

<div class="wrapper login-page">

    <div class="row mtop-100">
        <div class="col-md-6 col-md-offset-3 clearfix bg--dark">

            <div class="main-logo">
                Auluxa <span>Forgot Password</span>
                <p>We will send you an email to reset your password</p>
            </div>

            @using (Html.BeginForm("ForgotPassword", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="input-group">
                    <span class="input-group-addon"><i class="pe-7f-user pe-fw"></i></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-input", placeholder = "Email" })
                </div>
                <div class="clearfix"></div>
                <input type="submit" value="Send email" class="btn btn-skyblue pull-right" style="width: 100%;" />
            }
        </div>
    </div>
</div>
