<div class="wrapper login-page">
    <div class="row mtop-100">
        <div class="col-md-6 col-md-offset-3 clearfix bg--dark">
            <div class="main-logo">
                Auluxa
                <p>Your password has been reset. Please @Html.ActionLink("click here to log in.", "Index", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
            </div>
        </div>
    </div>
</div>
